[submodule "vst3sdk"]
	path = vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "clap"]
	path = clap
	url = https://github.com/free-audio/clap.git
[submodule "TinySoundFont"]
	path = TinySoundFont
	url = https://github.com/schellingb/TinySoundFont.git
